*.bin
**/*.py
index.html
mods/
**/__pycache__/
**/*.blurl

# leaderboard
# this is so ican delete them from my ssd
leaderboards/season3/

.vscode/
downloaded/
downloads/
videoassets/
videos/
music/*.ogg